
.search-form {
    display: flex;
    justify-content: center;
  }
  
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }
  
  .search-bar {
    width: 400px;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
  }
  
  .search-button {
    width: 150px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
  }
  